*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
}
.max-width{
    width: 1300px;
    padding: 0px 80px;
}